<footer id="footer-container" class="footer-container-class" role="contentinfo">
  <div class="container">
    <div class="jointheclubblock">
        <h3>JOIN THE CLUB</h3>
        <h2>Sign Up For <span>Exclusive Offers</span>, New Arrivals and Style Updates</h2>
          <div class="jointheclub_inputblock">

            <span>+91</span>

            <input name="tel" id="telnum" type="tel" placeholder="Enter your mobile number." />

            <input id="jointheclubsubmit" type="submit" value="Go"/>

            <div class="club_succes" style="display: none;">You have Joined the Club.</div>

            <div class="club_error" style="display: none;">Please Enter Your Mobile Number.</div>

            <div class="club_invalid" style="display: none;">Please Enter a Valid Mobile Number.</div>

          </div>
    </div> 
    <div class="follow-us-block">
      <h4>follow us on</h4>

      <ul class="follow-us-links">

        <li><a href="https://www.facebook.com/MenatMrButton" target="_blank" class="facebookicon"></a></li>

        <li><a href="/blog" class="twittericon" target="_blank"></a></li>

        <li><a href="http://instagram.com/mrbutton" class="instagramicon" target="_blank"></a></li>

        <li><a href="https://www.youtube.com/channel/UC2aH2tXmlKFZFRHIHgodyug"  target="_blank" class="youtubeicon"></a></li>

      </ul>
    </div> 
    <div class="footer-shipping-block">   
      <ul class="footershippingblock">

        <li class="first">

          <h5>FREE SHIPPING* </h5>

          <h6>Free shipping on all orders<br/>above INR 999</h6>

        </li>

        <li class="second">

          <h5>WIZARD SUPPORT</h5>

          <h6>Email: wizards@mrbutton.in<br/></h6>

        </li> 

        <li class="third">

          <h5>EASY RETURNS</h5>

          <h6>Having Second Thoughts?<br/>Just send it back for Free</h6>

        </li>

        <li class="fourth">

          <h5>CASH ON DELIVERY</h5>

          <h6>Pay when you get your<br/>Product</h6>

        </li>

      </ul>
  </div>
  <div class="footerlinkclass">
    <ul class="footerlinkblock">

      <li class="first">
        <h5>SHOP</h5>
        <a href="https://www.mrbutton.in/product-category/new-in/">NEW IN</a><br>
        <a href="https://www.mrbutton.in/product-category/all-products/">VIEW ALL</a><br>
        <a href="https://www.mrbutton.in/product-category/shirts/">SHIRTS</a><br> 
        <a href="https://www.mrbutton.in/product-category/t-shirts/">T-SHIRTS</a><br>
        <a href="https://www.mrbutton.in/product-category/bottoms/">TROUSERS</a><br>
        <a href="https://www.mrbutton.in/product-category/nehru-jackets/">NEHRU JACKETS</a>

      </li>

      <li class="second">
          <h5>EXPLORE</h5>
          <a href="https://www.mrbutton.in/poetic-justice/">CAMPAIGN</a><br>
          <a href="https://www.mrbutton.in/blog/">JOURNAL</a><br>
          <a href="https://www.mrbutton.in/guide-shop/">GUIDE SHOP</a><br> 
          <a href="https://www.mrbutton.in/contact-us/">GIVE FEEDBACK</a>
      </li>

      <li class="third">
          <h5>SUPPORT</h5>
          <a href="https://www.mrbutton.in/track-shipment-status/">TRACK ORDER</a><br>
          <a href="https://www.mrbutton.in/product-category/return-request/">REQUEST RETURN</a><br>
          <a href="https://www.mrbutton.in/blog/knowledgebase_category/shipping-and-delivery/">SHIPPING POLICY</a><br> 
          <a href="https://www.mrbutton.in/blog/knowledgebase_category/return/">RETURN POLICY</a><br>
          <a href="https://www.mrbutton.in/knowledgebase/">FAQ'S</a><br>
          <a href="https://www.mrbutton.in/retail-contact-us/">BE A FRANCHISE</a>
      </li>

      <li class="fourth">
        <div class="contact-mail-link">
          <h3>CONTACT</h3>
          <div>wizards@mrbutton.in</div>
        </div>
        <div class="payment-method-images">
          <img src="https://www.mrbutton.in/wp-content/themes/MRBUTTON_THEME/images/newfooter_paymentmethod.png"/>
        </div>
          <div class="widget_mailchimpsf_widget">
              <h3 class="widget-title">SIGN UP FOR STYLE JOURNAL </h3>
              <div id="mc_signup">
                <div class="mc_form_inside">
                  <div class="mc_merge_var">
                    <input name="email" id="subscriber_email" type="text" placeholder="Enter email address." />
                  </div>
                  <div class="mc_signup_submit">
                    <input id="jointheclubbyemailsubmit" type="submit" value=">"/>
                  </div>
                  <div class="mc_success_msg " style="display: none; font-size: 12px; color:green">You have Joined the Club.</div>
                  <div class="mc_error_msg" style="display: none; font-size: 12px; color:red">Please Enter Your Email Id.</div>
                  <div class="mc_invalid_msg" style="display: none; font-size: 12px; color:red">Please Enter a Valid Email Id.</div>
                  <div class="mc_exists_msg" style="display: none; font-size: 12px; color:red">Email Id exists.</div>
                </div>
              </div>
            </div>
      </li>

    </ul>
  </div> 
</div>
  <div class="footer-container-bottom-block">
    <div class="container">
      <div class="pull-left">
        Have a question? Just drop an email at 
        <a href="mailto:wizards@mrbutton.in">wizards@mrbutton.in</a>
      </div>
      <div class="pull-right">
        <ul>
            <li><a href="/terms-of-use/">TERMS</a></li>
            <li class="sep">
                <span>|</span>
            </li>
            <li><a href="/privacy-policy/">PRIVACY</a></li>
            <li class="poweredby">
                Powered by
                <a href="http://eshopbox.com/" target="_blank"></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>